@model EmployeeGYM

<h1 cladd="alert elert-warning text-center">Edit Employee</h1>


<form class="col-4" method="post" asp-controller="Employees" asp-action="EditCurrent">
    <input type="hidden" asp-for="Id" />



    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mt-3">
        <label asp-for="FullName">@Html.DisplayNameFor(e => e.FullName)</label>
        <input type="text" asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label asp-for="Salary"> @Html.DisplayNameFor(e => e.Salary)</label>
        <input type="number" asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="Position"> @Html.DisplayNameFor(e => e.Position)</label>
        <input type="text" asp-for="Position" class="form-control" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label asp-for="Appraisal"> @Html.DisplayNameFor(e => e.Appraisal)</label>
        <input type="number" asp-for="Appraisal" class="form-control" />
        <span asp-validation-for="Appraisal" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="BirthDate">@Html.DisplayNameFor(e => e.BirthDate)</label>
        <input type="date" asp-for="BirthDate" class="form-control" />

    </div>


    <div class="mt-3">
        <label asp-for="JoinDateTime">@Html.DisplayNameFor(e => e.JoinDateTime)</label>
        <input type="datetime-local" asp-for="JoinDateTime" class="form-control" />

    </div>


    <div class="mt-3">
        <label asp-for="NationalNumber">@Html.DisplayNameFor(e => e.NationalNumber)</label>
        <input type="text" asp-for="NationalNumber" class="form-control" />
        <span asp-validation-for="NationalNumber" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label asp-for="PhoneNumber">@Html.DisplayNameFor(e => e.PhoneNumber)</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <label asp-for="SecretCode">@Html.DisplayNameFor(e => e.SecretCode)</label>
        <input type="password" asp-for="SecretCode" class="form-control" />
        <span asp-validation-for="SecretCode" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="ConfirmSecretCode">@Html.DisplayNameFor(e => e.ConfirmSecretCode)</label>
        <input type="password" asp-for="ConfirmSecretCode" class="form-control" />
        <span asp-validation-for="ConfirmSecretCode" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="IsActive"> @Html.DisplayNameFor(E => E.IsActive)</label>
        <input asp-for="IsActive" class="form-check-input" />
    </div>




    <div class="mt-3">
        <label asp-for="DepartmentId">@Html.DisplayNameFor(e => e.DepartmentId)</label>
        <select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.AllDepartments,"Id","Name") )" class="from-control">
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>



    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Edit </button>

    </div>



</form>
<a asp-controller="Employees" asp-action="GetIndexView"> Back to List</a>