@model IEnumerable<GymSystem.Models.Client>

@{
    ViewData["Title"] = "Index";

}

<h1 class="alert alert-success text-align:center">Members</h1>

<p>
    <a asp-controller="Clients" asp-action="DeleteExpiredClient" class="btn btn-danger">DeleteExpiredClient</a>
</p>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
